<a href="https://colab.research.google.com/github/mah-mudulhasan-jim/my_first_github_repo/blob/main/CSE110_Assignment_3_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#problem_2
n=input()
num=int(input())
for n in range(num):
  print(n)

Toyota
2
0
1

In [ ]:
#Task_2
n=input()
num=int(input())
i=0
while(i<num):
  print(n)
  i+=1

Toyota
2
Toyota
Toyota

In [ ]:
#Problem_1
name=input()
num=int(input())
for i in range(num):
  print(n)

audi
2
1
1

In [ ]:
#start***************************************************************

In [ ]:
#task1(a)
i=24
while i>=-6:
  if i==-6:
    print(i,end='')
  else:
   print(i,end=',')
  i-=6

24,18,12,6,0,-6

In [ ]:
for i in range()

In [ ]:
#task1(b)
i=-10
while i<=20:
  if i==20:
    print(i,end='')
  else:
   print(i,end=',')
  i+=5

-10,-5,0,5,10,15,20

In [ ]:
#task1(c)
i=18
while i<=63:
  if i==63:
    print(i,end='')
  else:
   print(i,end=',')
  i+=9

18,27,36,45,54,63

In [ ]:
#task1(d)
i=18
while i<=63:
  if i==63:
    print(i*-1,end='')
  elif i%2!=0:
    print(i*-1,end=',')
  else:
   print(i,end=',')
  i+=9

18,-27,36,-45,54,-63

In [ ]:
#Start as-2


#Task_2(for)
name=input()
num=int(input())
for i in range(num): #i just as a increment vairable
  print(name)

audi
2
audi
audi

In [ ]:
#Task_2(while)
name=input()
num=int(input())
i=1
while(i<=num):
  print(name)
  i+=1

audi
2
audi
audi

In [ ]:
#Task_3
sum=0
i=1
while(i<=600):
  if(i%7==0 and i%9==0):
   sum+=i
  i+=1
print(sum)

2835

In [ ]:
#Task_3
sum=0
for i in range(1,601):
       if(i%7==0 and i%9==0):
           sum=sum+i
print(sum)

2835

In [ ]:
#Task_4
sum=0
i=1
while(i<=600):
  if(i%7==0 and i%9==0):
     pass
  elif(i%7==0 or i%9==0): #if dile prb ki
     sum+=i
  i+=1
print(sum)

39814

In [ ]:
#Task_4
sum=0
for i in range(1,601):
       if(i%7==0 and i%9==0):
         pass
       elif(i%7==0 or i%9==0):
           sum=sum+i
print(sum)

39814

In [ ]:
#Task_5
i=10
while(i<=50):
  if(i%2!=0):
    print(i,end=" ")

  i+=1

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
#Task_5
for i in range(10,51):
       if(i%2!=0):
         print(i,end=" ")

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
#Task_6
n=int(input())
sum=0
i=1
while(i<=n):
   if(i%2==0):
     sum+=i*i*-1
   elif(i%2!=0):
     sum+=i*i
   i+=1


print(sum)

20
-210

In [ ]:
#task_6
n=int(input())
sum=0
for i in range(1,n+1):
       if(i%2!=0):
         sum=sum+i*i

       elif(i%2==0):
           sum=sum+i*i*-1
print(sum)

20
-210

In [ ]:
#Task_7
s=0
i=1
while(i<=10):
   user=int(input())
   if(i%2!=0):
     s+=i
   i+=1
   avg=s/5
print("The total of the odd numbers is {} and their average is {}".format(s,avg))

1
2
3
4
5
6
7
8
9
10
The total of the odd numbers is 25 and their average is 5.0

In [ ]:
#Task_7
sum=0
for i in range(1,11):
  n=int(input())
  if(n%2!=0):      #problem
    sum+=n
  avg=sum/5
print("The total of the odd numbers is {} and their average is {}".format(sum,avg))

1
2
3
4
5
6
7
8
9
10
The total of the odd numbers is 25 and their average is 5.0

In [ ]:
#Task_8
N=int(input())
s=0
i=1
while(i<=N):
  if(i%7==0):
    s+=i
  i+=1
print(s)

75
385

In [ ]:
#Task_8
sum=0
N=int(input())
for i in range(1,N+1):
  if(i%7==0):
    sum+=i
print(sum)

75
385

In [ ]:
#Task_9
sum=0
i=1
while(i<=5):
   n=int(input("user input: "))
   sum=sum+i
   print("sum is:",sum)
   i+=1

user input: 1
sum is: 1
user input: 2
sum is: 3
user input: 3
sum is: 6
user input: 4
sum is: 10
user input: 5
sum is: 15

In [ ]:
#Task_9
sum=0
for i in range(1,6):
  user=int(input("user: "))
  sum=sum+i
  print("sum is",sum)

user: 1
sum is 1
user: 2
sum is 3
user: 3
sum is 6
user: 4
sum is 10
user: 5
sum is 15

In [ ]:
#task_10
n=int(input())
while(0<n):
  if(n//10==0):
    print(n%10)
  else:
    print(n%10,end=",")
  n=n//10

32768
8,6,7,2,3

False

In [ ]:
#task 10
n=int(input())
for i in range(1,n+1,n//10):
   if(n==0):
    break
   if(n//10==0):
     print(n%10)
   else:
     print(n%10,end=",")
   n=n//10

32678
8,7,6,2,3

In [ ]:
#Task_11
sum=0
num=int(input())
while(num>0):
   num=num//10
   sum=sum+1


print(sum)

59950
5

In [ ]:
#Task_11(prb)
sum=0
num=int(input())
for i in range(1,num+1,num//10):
   num=num//10
   sum=sum+1


print(sum)

32768
11

In [ ]:
#Task_12
sum=0
num=int(input())
old_num=num
while(num>0):
    num=num//10
    sum=sum+1
for sum in range(sum,0,-1):

     ok=old_num//10**(sum-1) #par by part calculate kore store korteci
     print(ok,end="")
     old_num=old_num%10**(sum-1) #update korteci old_num
     if(old_num==0):
         break

     print(end=",")

In [ ]:
#Task_13
n=int(input())
sum=0
i=1
while(i<=n):
  if(n%i==0):
    print(i)
    sum=sum+1
  i+=1
print("Total {} divisors.".format(sum))

6
1
2
3
6
Total 4 divisors.

In [ ]:
#Task_13
n=int(input())
sum=0
for i in range(1,n+1):
  if(n%i==0):
    print(i)
    sum=sum+1

print("Total {} divisors.".format(sum))

6
1
2
3
6
Total 4 divisors.

In [ ]:
#Task_14
n=int(input())
sum=0
i=1
while(i<n):
  if(n%i==0):
   sum=sum+i

  i+=1
if(sum==n):
      print("{} is a perfect number".format(n))
else:
      print("{} is a perfect number".format(n))

6
6 is a perfect number

In [ ]:
#Task_14
n=int(input())
sum=0
for i in range(1,n):
  if(n%i==0):
   sum=sum+i

if(sum==n):
      print("{} is a perfect number".format(n))
else:
      print("{} is a perfect number".format(n))

6
6 is a perfect number

In [ ]:
#Task_15(prb)
n=int(input())
sum=0
i=1
while(i<=n):
  if(n%i==0):
   sum=sum+1


  i+=1
if(sum==2):
      print("{} is a prime number".format(n))
else:
      print("{} is not a prime number".format(n))

11
11 is a prime number

In [ ]:
 #Task_15
n=int(input())
sum=0
for i in range(1,n+1):
   if(n%i==0):
      sum=sum+1
if(sum==2):
     print("{} is a prime number".format(n))
else:
     print("{} is a prime number".format(n))

101
101 is a prime number

In [ ]:
#Task_16
import math
n=int(input())
max=-math.inf
min=+math.inf
sum=0
for i in range (n):
  m=int(input('input numbers'))
  sum=sum+m
  if(m>max):
    max=m
  if(min>m):
    min=m
print('Maximum',max)
print('Minimum',min)
print('Average',sum/n)

5
input numbers10
input numbers4
input numbers-1
input numbers-100
input numbers1
Maximum 10
Minimum -100
Average -17.2

In [ ]:
#Task_17
N=int(input())
for i in range(N):
  print("+"*N)

5
+++++
+++++
+++++
+++++
+++++

In [ ]:
#Task_18
M=int(input())
N=int(input())

for i in range(1,M+1):
    for j in range(1,N+1):
           print(j,end="")
    print()

3
2
12
12
12

In [ ]:
#Task_19
N=int(input())


for row in range(N):
    for column in range(row+1):
           print(column+1,end="")
    print()

5
1
12
123
1234
12345

In [ ]:
#Task_29
n=int(input())
m=int(input())
check=int(input())
for i in range(n,m+1):
  if(i%check==0):
    print(m)

25
30
4
30

In [ ]:
#Task_25
num=int(input())
first=0
second=1

result=0
if(num==0):
  print(first)
elif(num==1):
    print(second)
else:
  print(first)
  print(second)
  for i in range(2,num+1):
    result=first+second
    first=second
    second=third

    print(third)

10
0
1
55
55
55
55
55
55
55
55
55

In [ ]:
#Task_26
num=int(input())
ho=""

while(num>0):
      #ho+=str(num%2)
      ho=str(num%2)+ho
      num=num//2
print(ho)  #print(ho[::-1])

11
1011

In [ ]:
#Task_26
num=int(input())
while(num>0):
  str(lab)=num%2
  print(lab[::-1])
  num=num//2

SyntaxError: ignored

In [ ]:
#Task_27

In [ ]:
#Special

n=input()#w@#a 26s^$p
al=0
di=0
sym=0
for i in n:
    if(i>="a" and i<"z" ):
        al+=1

    elif(i>="0" and i<="9"):

        di+=1
    elif(i==" "):
      pass
    else:
        sym+=1

print(al,di,sym)

AZC@# 123 %
0 3 6